body {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  border: 2px solid #ff0a0aaf;
  border-radius: 20px;
  padding: 15px;
  color: #ff0a0aaf;
  display: inline-block;
  margin-top: 20px;
}

.tabla {
  display: grid;
  grid-template-columns: repeat(4, 120px); 
  gap: 15px;                               
  justify-content: center;                  
  margin-top: 20px;
}

.karta {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}
