.tabla {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.karta {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.karta:hover {
  transform: scale(1.05);
}
